<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqq.lqqaiagent.mapper.AiChatMemoryMapper">

    <resultMap id="BaseResultMap" type="com.lqq.lqqaiagent.model.entity.AiChatMemory">
            <id property="id" column="id" />
            <id property="userId" column="user_id" />
        <result property="chatId" column="chat_id" />
            <result property="type" column="type" />
            <result property="content" column="content" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDel" column="is_del" />
    </resultMap>

    <sql id="Base_Column_List">
        id,chat_id,type,content,create_time,update_time,
        is_del
    </sql>
</mapper>
