<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqq.lqqaiagent.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="com.lqq.lqqaiagent.model.entity.App">
            <id property="id" column="id" />
            <result property="appname" column="appName" />
            <result property="cover" column="cover" />
            <result property="initprompt" column="initPrompt" />
            <result property="codegentype" column="codeGenType" />
            <result property="deploykey" column="deployKey" />
            <result property="deployedtime" column="deployedTime" />
            <result property="priority" column="priority" />
            <result property="userid" column="userId" />
            <result property="edittime" column="editTime" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,appName,cover,initPrompt,codeGenType,deployKey,
        deployedTime,priority,userId,editTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
